{{- $showhead := default true .Site.Params.showNavHeader }}
{{- if or $showhead .Site.Menus.main }}
<div class="navigation">
  {{- if $showhead }}
  <div class="navigation-header clearfix">
    <div class="pure-menu pure-menu-horizontal">
      {{- with .Site.Title }}
      <a class="pure-menu-heading pure-menu-link" href="{{ $.Site.Home.RelPermalink }}">
        {{ . }}
      </a>
      {{- end }}

      {{- with .Site.Params.subtitle }}
      <ul class="pure-menu-list navigation-header-subtitle pull-end">
        <li class="pure-menu-item pure-menu-disabled">{{ . }}</li>
      </ul>
      {{- end }}
      
      {{ if .IsTranslated }}
        <ul class="pure-menu-list pull-end">
          <nav class="LangNav pure-menu-item pure-menu-disabled">
          {{ $lastIt := len $.Site.Home.AllTranslations }}
          {{ $i := 1 }}
          {{ range $.Site.Home.AllTranslations }}
          {{ $k := .Scratch.Get "i" }}
          {{ if lt $i $lastIt }}
          <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a> |
          {{ $i = add $i 1 }}
          {{ else if eq $i $lastIt }}
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          {{ end }}
          {{ end}}
          </nav>
			{{ end }}

    </div>
  </div>
  {{- end }}
  {{- if .Site.Menus.main }}
  <div class="navigation-content">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        {{- $curr := . }}
        {{- range .Site.Menus.main }}
        {{- $selected := cond (or ($curr.IsMenuCurrent "main" .) ($curr.HasMenuCurrent "main" .)) " pure-menu-selected" "" }}
        <li class="pure-menu-item{{ $selected }}"{{ if .Title }} title="{{ .Title }}"{{ end }}>
          <a  class="pure-menu-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
  {{- end }}
</div>
{{- end }}
